.header a {
    text-decoration: none;
    padding: 12px 30px;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.container {
    margin: 0px;
}

.head {
    color: brown;
    font-weight: 700;
}

.header {
    -webkit-box-shadow: -2px -1px 15px 7px rgba(97, 90, 90, 0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(132, 122, 122, 0.425);
    box-shadow: -4px -3px 45px 21px rgba(79, 77, 77, 0.35);
}

textarea:focus,
input:focus {
    outline: none;
}

.header Button {
    height: 40px;
    padding: 0px 10px;
    margin: 8px 20px;
}

.loginbtn {
    margin-left: 80px;
}